<%= form_with(model: band, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
    <%= f.submit class: "ui purple inverted button" %>
  </div>
<% end %>